.App {
    box-sizing: border-box;
    border: 2px solid #f00;
    background-color: #ffff;
}

body {
    background: linear-gradient(-45deg, #4b566b, #4b566b, #4b566b, #fe696a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}